<div class="container-sm w-75">
    <section class="container">
        <h2 class="text-center my-3">Registro de Categorias</h2>
    </section>

    {{#each categorias}}
    <div class="container-sm w-100 my-5 bg-light shadow-lg p-3">
        <h4>Categoria: {{name}}</h4>
        <p>Slug: {{slug}}</p>
        <hr>
        <p>Date: {{date}}</p>
        <a href="/categoria/updateForm/{{_id}}" class="btn btn-primary mx-2">Editar</a>
        <a href="/categoria/deleteconfim/{{_id}}" class="btn btn-danger">Excluir</a>
    </div>
    {{else}}
    <h5 class="text-center text-decoration-underline">Nenhuma Categoria Registrada</h5>
    {{/each}}
</div>